@import url("https://fonts.googleapis.com/css?family=Karla|Source+Code+Pro&display=swap");

body {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.5em;
  color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #3478cb, #b929c9);
}

.white-text {
  color: white;
  opacity: 0.5;
}

#_header {
  margin-top: 10px;
  font-weight: 600;
  font-size: 3.5em;
}

#c1,
#c2 {
  margin-top: 20px;
  border-radius: 3.5px;
}

.random {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.random-icon,
.play-icon,
.pause-icon {
  height: 32px;
  width: 32px;
  margin-top: 20px;
  opacity: 0.5;
}

.play-icon {
  height: 52px;
  width: 52px;
}

.random-icon:hover,
.play-icon:hover,
.pause-icon:hover {
  opacity: 0.7;
}

#prop {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 20px;
}

#copy {
  letter-spacing: 1.5px;
  font-weight: 900;
  background: none;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border: none;
  text-transform: uppercase;
  margin-top: 10px;
  opacity: 0.5;
}

#copy:hover {
  opacity: 0.7;
}

#css-prop-display {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 0em;
  text-transform: lowercase;
  margin-top: 15px;
}

#down {
  opacity: 0.5;
}

.bg-play {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;

  -webkit-animation: bg-animation 5s ease infinite;
  -moz-animation: bg-animation 5s ease infinite;
  -o-animation: bg-animation 5s ease infinite;
  animation: bg-animation 5s ease infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fixed-bottom {
  text-transform: none;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
}

.fixed-bottom a,
.github-icon a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.fixed-bottom a:hover,
.github-icon a:hover {
  opacity: 0.7;
}

@media (max-width: 576px) {
  body {
    font-family: "Karla", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.5em;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #3478cb, #b929c9);
  }

  #_header {
    font-size: 2.5em;
  }
}
