body {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.5em;
  color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #3478cb, #b929c9);
}

#_header {
  margin-top: 20px;
  font-weight: 600;
  font-size: 3.5em;
}

#c1,
#c2 {
  margin-top: 50px;
  border-radius: 3.5px;
}

#prop {
  margin-top: 50px;
}

#css-prop-display {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 0em;
  text-transform: lowercase;
  margin-top: 15px;
}

#down {
  opacity: 0.5;
}

.fixed-bottom {
  text-transform: none;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
}

.fixed-bottom a,
.github-icon a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.fixed-bottom a:hover,
.github-icon a:hover {
  opacity: 0.7;
}

@media (max-width: 576px) {
  body {
    font-family: "Karla", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.5em;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #3478cb, #b929c9);
  }

  #_header {
    font-size: 2.5em;
  }
}
